@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); 

#container{
  background-color: rgb(245,245,245);
  padding: 20px 0px;
}
h4{
  font-weight: 700;
}
h6{
  font-weight: 700;
}
.btn{
  margin-right: 5px;
  size: 50px;
}
#economy,#age{
  background-color: rgb(245,245,245);
}

#top-section{
  width: 70%;
  /* border: 1px solid red; */
  margin: auto;
}
   
  


#top-section>div>p{
  font-size: large;
  
}
form{
    margin-top: 30px;
}
/* filter & dynamic data section */

#flights-booking-container{
  border: 0px solid grey;
  display: flex;
  width: 65%;
  margin: auto;
}

#filter-container{
  border: 0px solid red;
  width: 28%;
}
.radio-btn-filter{
  border: 0px solid green;
}
#cheapest-tab{
  margin-left: 232px;
}
#fastest-tab{
  margin-left: 232px;
}
/* best,cheapest,fastest */


#best-home{
  border: 1px solid lightgrey;
  height: 200px;
  display: flex;
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;

}
#flight-timing{
  /* border-right: 1px solid lightgrey; */
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
#flight-timing img{
  width: 70%;
}

#total-price{
  /* border: 1px solid yellow; */
  width: 100%;
  text-align: right;
  padding: 10px;
}
#details_flight-timing{
  /* border: 1px solid black; */
  display: flex;
  width: 85%;
  height: 100px;
  align-items: center;
}
#img_flight-timing{
  width: 200px;
  /* padding: 5px; */
}
#flight_img{
  border: 0px solid red;
  width: 100px;
  height: 100px;
}
#flight_img img{
  width: 100%;
}
#img_flight-timing>p{
  border: 0px solid red;
  margin-top: 10px;
  text-align: center;
}
#details_flight-timing>div:nth-child(2){
  width: 70%;
  text-align: center;
}
#details_flight-timing>div:nth-child(3){
  text-align: right;
}
.totalprice_btn{
  width: 200px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid rgb(72,111,229);
  background-color:white;
  color: rgb(72,111,229);
}
.totalprice_btn:hover{
  background-color: lightblue;
}
#total-price>p{
  margin-top: -5px;
  
}
#total-price>h4{
  margin-top: -5px;
}