 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); 

 /* navbar */
 body{
  margin: 0;
  padding: 0;
}

#navbar_container{
  border: 0px solid red;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
 justify-content:center;
 align-items: center;
 background-color:#003580;
}

#navbar{
/* border: 0px solid red; */
width: 90%;
height: 100px;
display: flex;
justify-content:space-between;
align-items: center;
background-color:#003580;
}

#navbar div{
  border:0px solid black;
}
#nav_left{
  width: 100px;
  height: 90px; 
}
#nav_left:hover{
  cursor: pointer;
}
#logo_img{
  box-sizing: border-box;
  border-radius: 10px;
}

#nav_right{
  width:600px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav_right div{
 border: 0px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
}
.nav_icon{
  width:40px;
  height:40px;
}
.nav_icon img{
  width:70%;
}
.nav_icon:hover{
  cursor: pointer;
  background-color: #b4c9e0;
}
.login_sign_btn{
  width:100px;
  height:40px;
  font-style: normal;
  font-size: 16px;
  font-family: sans-serif,Arial, Helvetica;
  font-weight: 500;
  color: #006ce4;
  background-color: white;
  border: none;
  border-radius: 5px;
}
#login_sign_btn1{
  width:150px;
  border: 1px solid white;
  background-color: #003580;
  color: white;
}
#login_sign_btn1:hover{
  background-color:rgb(79, 128, 148); 
}
.login_sign_btn:hover{
  cursor: pointer;
  background-color:skyblue; 
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(56, 50, 50);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* navabr options */

#navmenu{
  border:0px solid yellow;
  width:100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#003580;
}

#navmenu_icon_container{
  width: 90%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color:#003580;
  gap: 20px;
}
#navmenu_icon_container div{
  border:1px solid white;
  width:130px;
  height: 50px;
  /* margin-left: 20px; */
  border-radius: 30px;
  display: flex;
  justify-content:center;
  align-items: center;
}
#navmenu_icon_container div:nth-child(1){
  margin-left: 190px;
}
#title{
  font-size: 14px;
  margin-left: 10px;
  color: white;
}
.stay{
  margin-left: 10px;
  color: white;
  
}
#navmenu_icon_container div:hover{
  cursor: pointer;
  background-color: rgb(22, 130, 173);
}



**************

#container{
  background-color: rgb(245,245,245);
 
}
h4{
  font-weight: 700;
}
h6{
  font-weight: 700;
}
.btn{
  margin-right: 5px;
  size: 50px;
}
#economy,#age{
  background-color: rgb(245,245,245);
}

#top-section{
   width: 65%;
   /* border: 1px solid red; */
   margin: auto;
   
  
}

#corona {
    height: 50px;  
    align-items: center;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid red;
    background-color: rgb(254,243,236);
    border-radius: 5px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 30px;
  }
#top-section>div>p{
  font-size: large;
  
}

/* banner */
#banner{
  /* border: 1px solid red; */
  display: flex;
  width: 65%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 100px;
  padding-top: 50px;
}
#first_block{
  /* border: 1px solid green; */
  display: flex;
  gap: 10px;
}
#second_block{
  /* border: 1px solid green; */
  display: flex;
  gap: 10px;
}
#thrid_block{
  /* border: 1px solid green; */
  display: flex;
  gap: 10px;
}

#whole_width{
  height: 180px;
  background-color: rgb(245,245,245);
 
}

/* location-search */

#location_search>input{
  padding: 15px;
  border: none;
  
}
#location_search{
  border: 3px solid rgb(255,210,97);
  margin-top: 20px;
  background-color: rgb(255,210,97);
  border-radius: 7px;
  margin-bottom: 15px;
}
.from,.to{
 width: 28.2%;
 text-align: center;

}
#location_search>button{
 padding: 15px;
 background-color: rgb(0,108,228);
 border: none;
 color: white;
}
.flight{
  position: absolute;
  margin-top: 10px;
  
}
.arrow{
  position: absolute;
  margin-top: 10px;
  margin-left: -13px;
  background-color: white;

}
#mid-top{
  width: 65%;
  margin: auto;
  margin-top: 80px;

}
#lower-mid{
  width: 65%;
  margin: auto;
}

/* tab-carousal */

#flight-to{
  /* border: 1px solid green; */
  display: flex;
  height: auto;
  gap: 10px;

}
#flight-to>div>img{
  width: 70px;
  border-radius: 7px;
}
#flight-to>div:nth-child(2){
  padding-top: 10px;
}

#flight-nearby{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
/* 
faq */
#faq-heading{
  width: 65%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;  
}
#faq{
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;

}
#faq-details{
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 10px;
  
}

/* owl-carousal */

#explore_carousell{
  /* border: 0px solid black; */
  width:100%;
  height: 220px;
  margin: auto; 
  margin-top: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
}
#explore_containerr{ 
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 500ms; 
}
.explore_carousell_img_containerr{
  width:180px;
  height:220px;
  /* border: 1px solid red;   */ 
}
.explore_carousell_img_containerr:hover{
  cursor: pointer;
}
.explore_carousell_img_containerr img{
  width: 100%;
  height: 60%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#ltexarroww, #rtexarroww {
  top: 50%;
  border: 0px solid red;
  height: 40px;
  width: 40px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background: #fff;
  color: rgb(133, 126, 126);
  border-radius: 50%;
  transform: translateY(-50%);
}

#ltexarroww{
 left: 0px;
}
#ltexarroww:hover{
  background-color: #8bafe0;
}

#rtexarroww{
right: 0px;
}
#rtexarroww:hover{
  background-color: #8bafe0;
}
.explore_descc{
  font-size: medium;
  font-weight: 100;
}


