@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

/************************* backImage ******************/

#backimage{
    border:1px solid #003580;
    width: 100%;
    height: 350px;
    background-image: url("https://r-xx.bstatic.com/xdata/images/xphoto/2880x750/183939625.jpeg?k=f06b6ea8458f9377cc1293e39f6b3218d13c4a6576d61d51b989438e667d68fc&o=");
    background-size: cover;
    background-repeat: no-repeat;
}
#backimage div{
    border:0px solid greenyellow;
    width:70%;
    height: 300px;
    margin-left: 90px;
}
.heading{
    font-style: bold;
    font-size: 50px;
    font-weight: 700;
    font-family:sans-serif, Arial, Helvetica;
    line-height: 15px;
    color: white;
}
.tagline{
    font-style: bold;
    font-size: 28px;
    font-weight: 500;
    font-family:sans-serif, Arial, Helvetica;
    line-height: 15px;
    color: white;
}

#explore{
    width:220px;
    height: 50px;
    font-style: bold;
    font-family:sans-serif, Arial, Helvetica;
    font-weight: 500;
    font-size: 18px;
    background-color:  #0071c2;
    color: white;
    border: none;
    border-radius: 10px;
}
#explore:hover{
    cursor: pointer;
    background-color: rgb(22, 130, 173);
}

/************************* search bar *************************/

#search_container{
    border: 0px solid black;
    width:80%;
    height: 70px;
    margin: auto;
    top: 90%;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: yellow;
}

#search_container div{
    border: 0px solid red;
    width:150px;
    height:60px;
}

#search_container div:nth-child(1){
    /* border: 0px solid red; */
    width:400px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search_container div:nth-child(1):hover{
    cursor: pointer;
    border: 1px solid gray;
}
#searchicons{
    color: black;
}
#searchbar input{
    width:400px;
    height: 58px;
    outline: none;
    border: none;
}
#searchbar input::placeholder{
    font-size: 14px;
    color: #000;
    font-family: sans-serif,Arial, Helvetica;
}
#search_container div:nth-child(2){
    /* border: 0px solid red; */
    width:200px;
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#search_container div:nth-child(2):hover{
    cursor: pointer;
    border: 1px solid gray;
}
#search_container div:nth-child(3){
    /* border: 0px solid red; */
    width:300px;
    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#search_container div:nth-child(3):hover{
    cursor: pointer;
    border: 1px solid gray;
}

#srchbtn button{
    width:150px;
    height: 60px;
    border: none;
    background-color: #0071c2;
    color: #ffff;
    font-size: 20px;
}
#srchbtn button:hover{
    cursor: pointer;
    background-color: #003580;
}

/**************** checkbox *******************/
#chkbox{
    border: 0px solid black;
    width:80%;
    height: 30px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#chkbox p{
    margin-left: 10px;
    font-size: 16px;
}
#chkbox_size{
    width:20px;
    height: 20px;
}

/****************************** support ******************/
#corona_support{
    border: 1px solid black;
    width:80%;
    height: 60px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cpicons{
    color: red;
    font-size:34px;
}
#cpleft{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#cpleft_text{
    margin-left: 20px;
    font-style: normal;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#cpright{
    margin-right: 40px;
}


/**************** offer carousel ****************/
.headtag{
    margin-left: 130px;
    margin-top: 50px;
    line-height: 15px;
    font-style:normal;
    font-family: 'Segoe UI', sans-serif,Tahoma, Verdana;
    color: #262626;
}
.headtag_desc{
    margin-left: 130px; 
    font-style: normal;
    font-size: 16px;
    font-family:'Segoe UI', sans-serif,Tahoma, Verdana;
    color: #6b6b6b;
}
#offer_carousel{
    border: 0px solid black;
    width:80%;
    height: 200px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 1s; 
}
.offers{
    width:40vw;
    border: 0px solid red;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.offers img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#img_container1{
    border: 0px solid red;
    width:100%;
    height: 200px;
  background-image: url("https://q-xx.bstatic.com/xdata/images/xphoto/714x300/182431478.jpeg?k=fcbb6d5552a1d4ff338978206c449077ab8ad696050cfd7e4edef1ddc11225cc&o=");
  background-size: cover;
  background-repeat: no-repeat;
}
#img_container2{
    border: 0px solid red;
    width:100%;
    height: 200px;
  background-image: url("https://t-cf.bstatic.com/design-assets/assets/v3.46.0/illustrations-traveller/TripsFlightsPlane.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#img_container3{
    border: 0px solid red;
    width:100%;
    height: 200px;
  background-image: url("https://r-xx.bstatic.com/xdata/images/xphoto/714x300/173282684.jpeg?k=e31b490d521194e65d41490f43dc704291ca07eaa762b6f36bca714d3211b9a1&o=");
  background-size: contain;
  background-repeat: no-repeat;
}
.img_container_heading{
    margin-left: 20px;
    padding-top: 20px;
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif,Arial, Helvetica;
    color: #f2f2f2;
}
#img_container_heading{
    color: #262626;
}
#img_container_desc{
    color: #6b6b6b;
}
.img_container_desc{
    margin-left: 20px;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif,Arial, Helvetica;
    color: #f2f2f2;
} 
.img_container_btn{
    margin-left: 20px; 
    width:150px;
    height:40px; 
    background-color: #0071c2;
    border: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif,Arial, Helvetica;
    color: #fff;
}
.img_container_btn:hover{
    cursor: pointer;
    background-color: #003580;
}

#ltarrow, #rtarrow {
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background:#fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);
}
 #rtarrow:hover{
    background: #8bafe0;
}
#ltarrow:hover{
    background: #8bafe0;
}
#ltarrow{
    /* margin-left: 10px; */
    left: 0px;
}

#rtarrow{
    /* right: -23px; */
    right: 0px;
}


/************* Explore carousel *******************/
#explore_carousel{
    /* border: 0px solid black; */
    width:80%;
    height: 220px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}
#explore_container{ 
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 500ms; 
}
.explore_carousel_img_container{
    width:180px;
    height:220px;
    /* border: 1px solid red;   */ 
}
.explore_carousel_img_container:hover{
    cursor: pointer;
}
.explore_carousel_img_container img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.explore_heading{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #262626;
}
.explore_desc{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6b6b6b;
}
#ltexarrow, #rtexarrow {
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);
}
 
#ltexarrow{
   left: 0px;
}
#ltexarrow:hover{
    background-color: #8bafe0;
 }

#rtexarrow{
  right: 0px;
}
#rtexarrow:hover{
    background-color: #8bafe0;
 }

 /*********************** collage ****************************/
 #collage1{
   border: 0px solid black;
   width:80%;
   height: 250px;
   margin: auto; 
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 #collage_img1{
    width:49%;
    height: 100%;
    background-image: url("https://cf.bstatic.com/xdata/images/city/540x270/687080.webp?k=c88fb97fd92fcd30079f5a46d39bbee03c34e769b212514bd09aa31954ab820f&o=");
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #collage_img2{
    width:49%;
    height: 100%; 
    background-image: url("https://cf.bstatic.com/xdata/images/city/540x270/687157.webp?k=06b9ded0733baaca9efaa06a69ae4d0d74311d620280947ae909015e804028fb&o=");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #collage_img1:hover{
    cursor: pointer;
    opacity: 0.9;
 }
 #collage_img2:hover{
    cursor: pointer;
    opacity: 0.9;
 }

 #collage2{
    border: 0px solid black;
    width:80%;
    height: 250px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #collage2_img1{
    width:32%;
    height: 100%;
    background-image: url("https://cf.bstatic.com/xdata/images/city/540x270/687390.webp?k=bd88fa5d6426847a71e5e119fef3ffd78d490b64bb212350400cc9cb74544da0&o=");
    background-size: cover;
    background-repeat: no-repeat; 
 }
 #collage2_img2{
    width:32%;
    height: 100%;
    background-image: url("https://cf.bstatic.com/xdata/images/city/540x270/687285.webp?k=84f6f2377af1738b4ee29fccea1af65634fe4258712f96f54491c08f1d026a95&o=");
    background-size: cover;
    background-repeat: no-repeat; 
 }
 #collage2_img3{
    width:32%;
    height: 100%;
    background-image: url("https://cf.bstatic.com/xdata/images/city/540x270/967919.webp?k=de3609fd5bbb0eead49d41a6d7edeb731376d0c89e372bce4fce6d80c64991a5&o=");
    background-size: cover;
    background-repeat: no-repeat; 
 }
 .collage_heading{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
 }
 #collage2_img1:hover{
    cursor: pointer;
    opacity: 0.9;
 }
 #collage2_img2:hover{
    cursor: pointer;
    opacity: 0.9;
 }
 #collage2_img3:hover{
    cursor: pointer;
    opacity: 0.9;

 }

 /****************** Browse by property type ***************/

 #browse_carousel{
    /* border: 1px solid black; */
    width:80%;
    height: 250px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}
#browse_container{ 
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 1s; 
}
.browse_img_card{
    width:260px;
    height: 250px;
    /* border: 1px solid red; */
}
.browse_img_card:hover{
    cursor: pointer;
}
.browse_img_card img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.browse_img_card img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
}
.browse_heading{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #262626;
}
.browse_desc{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6b6b6b;
}
#ltbrarrow, #rtbrarrow {
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);
}
 
#ltbrarrow{
   left: 0px;
}
#ltbrarrow:hover{
    background-color: #8bafe0;
 }

#rtbrarrow{
  right: 0px;
}
#rtbrarrow:hover{
    background-color: #8bafe0;
 }

 /************* Premium Deals ************/

 #Pre_deals{
    border: 1px solid gray;
    width:80%;
    height: 150px;
    margin: auto; 
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
 }
 #Pre_deals img{
    margin-left: 20px;
    width:100px;
    height: 100px;
 }
 #deals_container{
    border: 0px solid black;
    width: 60%;
    height: 150px;
    margin-left: 20px;
 }
 #deals_container_heading{
    margin-left: 20px;
    font-style: normal;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
    font-weight: 700;
    color: #262626;    
 }

 #deals_container_desc{
    margin-left:20px;
    font-style: normal;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
    font-weight: 400;
    color: #262626; 
 }
 #deals_container_input{
    margin-left: 20px;
    width: 300px;
    height: 25px;
    border: 1px solid rgb(198, 154, 240);
    outline: none;
 }
 #deals_container_input:hover{
    cursor: pointer;
 }
 #deals_container_btn{
    margin-left: 10px;
    width:100px;
    height:30px;
    background-color: #fff;
    color: #0071c2;
    border: 1px solid #0071c2;
 }
 #deals_container_btn:hover{
    cursor: pointer;
    background-color: rgb(210, 229, 236);
 }

 #deals_close_btn{
    border: 0px solid black;
    width: 40px;
    height: 40px;
    margin-left: 230px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
 }
 #deals_close_btn:hover{
    cursor: pointer;
 }
 #deal_icons_btn{
    color: #000;
    font-size: 40px;
 }

 /******************* Travel around Europe ************************/

 #travel_options{
    border: 0px solid black;
    width: 80%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
 }

 #travel_options div{
    /* border: 1px solid red; */
    width: 100px;
    height: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
 }
 #travel_options div:hover{
    cursor: pointer;
    background-color: #d3d6d8;
 }
 #travel_options div:nth-child(1){
    width: 130px;
    border: 1px solid #0071c2; 
    color: #0071c2;
 }
 #travel_options div:nth-child(2){
    width: 120px;
    border: 1px solid #0071c2;
    background-color:rgb(231, 241, 245);
 }
 #travel_options div:nth-child(6){
    width: 120px;
 }
 #travel_icons_btn{
    color: #000;
 }
 #travel_options_title{
    font-size: 16px;
    margin-left:5px;
 }

 /*************************** Travel around Europe Caruosel *******************************/

#Travel_carousel{
    /* border: 1px solid black; */
    width:80%;
    height: 300px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center; 
}
#Travel_carousel_container{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 1s; 
}
.Travel_carousel_card{
    width:260px;
    height: 300px;
    /* border: 1px solid red;   */
}
.Travel_carousel_card:hover{
    cursor: pointer;
}
.Travel_carousel_card img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Travel_carousel_card img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
}
.travel_heading{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    color: #262626;  
}
.travel_desc, .tarvel_price{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #6b6b6b;
}
.tarvel_price span{
   font-size: 16px;
   font-weight: 700;
   color: #000;
}

#ltTRarrow, #rtTRarrow{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);  
}

#ltTRarrow{
    left: 0px;
 }
 #ltTRarrow:hover{
     background-color: #8bafe0;
  }
 
 #rtTRarrow{
   right: 0px;
 }
 #rtTRarrow:hover{
     background-color: #8bafe0;
  }

  /**************************** Stay at our top unique properties ******************************/
  #unique_properties_carousel{
     /* border: 1px solid black; */
     width:80%;
     height: 300px;
     margin: auto; 
     margin-top: 20px;
     display: flex;
     position: relative;
     overflow: hidden;
     align-items: center
  }

  #unique_properties_container{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 1s; 
  }

  .unique_properties_card{
    width:260px;
    height: 300px;
    /* border: 1px solid red;   */
  }

  .unique_properties_card:hover{
     cursor: pointer;
  }
  .unique_properties_card img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .unique_properties_card img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
  }
  .unique_properties_heading{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    color: #262626;  
  }

  .unique_properties_desc, .unique_properties_review{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #6b6b6b;
  }

  .unique_properties_review span{
    padding: 2px;
    background-color: #003580;
    color: #fff;
  }

  #ltuparrow, #rtuparrow{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);  
}

#ltuparrow{
    left: 0px;
 }
 #ltuparrow:hover{
     background-color: #8bafe0;
  }
 
 #rtuparrow{
   right: 0px;
 }
 #rtuparrow:hover{
     background-color: #8bafe0;
  }
  
  
  /******************************** Get inspiration for your next trip ************************/
  #Get_inspiration_headDiv{
     /* border: 1px solid black; */
     width:80%;
     height:50px;
     margin: auto; 
     margin-top: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .Get_inspiration_desc{
    margin-right: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
    color: #0071c2; 
  }

  #inspiration_carousel{
    /* border: 1px solid black; */
    width:80%;
    height: 350px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center
  }

  #inspiration_carousel_container{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 1s; 
  }

  .inspiration_carousel_card{
    width:290px;
    height: 350px;
    /* border: 1px solid red;   */
  }
  .inspiration_carousel_card:nth-child(1){
    width:500px;
    background-image: url("https://cf.bstatic.com/xdata/images/xphoto/540x405/180173480.webp?k=6ea6aa39bf8daaf82862915b72888bcf8ce68f0641053f336fcdd9d842b29d9d&o=");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.2px);
    background-color: rgba(0, 0, 0, 0.24);
  }
  #inspiration_carousel_card1:hover{
    transform: scale(1.1);
    transition: ease-in-out;
  }
  #carousel_card_heading{
    margin-top: 250px;
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;  

  }
  #carousel_card_desc{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color:#fff;  
  }
  .inspiration_carousel_card:hover{
    cursor: pointer;
  }
  .inspiration_carousel_card img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .inspiration_carousel_card img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
  }
  .inspiration_carousel_card_heading{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #262626;  
  }

  .inspiration_carousel_card_desc{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #6b6b6b;
  }
  #ltinsarrow, #rtinsarrow{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%); 
  }
  #ltinsarrow{
    left: 0;
  }
  #ltinsarrow:hover{
    background-color: #8bafe0;
  }
  #rtinsarrow{
    right: 0;
  }
  #rtinsarrow:hover{
    background-color: #8bafe0;
  }

  /*  Homes guests love */

  #home_guests_carousel{
    /* border: 1px solid black; */
    width:80%;
    height: 400px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center
  }
  #home_guests_container{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 1s; 
  }
  .home_guests_card{
    width:260px;
    height: 400px;
    /* border: 1px solid red;   */
  }
  .home_guests_card:hover{
    cursor: pointer;
  }

  .home_guests_card img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .home_guests_card img:hover{
    transform: scale(1.1);
    transition: ease-in-out;
  }
  .home_guests_heading{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #262626;  
  }

  .home_guests_desc, .home_guests_review, .home_guests_price{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    color: #6b6b6b; 
  }

  .home_guests_review span{
    padding: 2px;
    background-color: #003580;
    color: #fff;
  }
  .home_guests_price span{
   color:#000;
   font-size: 16px;
   font-weight: 700;
  }

  #lthgarrow, #rthgarrow{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);  
}

#lthgarrow{
    left: 0px;
 }
 #lthgarrow:hover{
     background-color: #8bafe0;
  }
 
 #rthgarrow{
   right: 0px;
 }
 #rthgarrow:hover{
     background-color: #8bafe0;
  }

  /************************* Connect with other travellers **************************/
  #travellers_carousel{
    /* border: 1px solid black; */
    width:80%;
    height: 350px;
    margin: auto; 
    margin-top: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
  }
  #travllers_container{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.5s;  
  }
  .travllers_card{
    width:260px;
    height: 350px;
    /* border: 1px solid red;   */
  }
  .travllers_card img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .travllers_card_heading{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 10px;
    color: #262626;  
  }
  .travllers_card_desc, .travllers_card_fact{
    margin-left: 10px;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: #6b6b6b; 
  }

  #ltCTarrow, #rtCTarrow{
    top: 50%;
    border: 0px solid red;
    height: 40px;
    width: 40px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: rgb(133, 126, 126);
    border-radius: 50%;
    transform: translateY(-50%);  
}

#ltCTarrow{
    left: 0px;
 }
 #ltCTarrow:hover{
     background-color: #8bafe0;
  }
 
 #rtCTarrow{
   right: 0px;
 }
 #rtCTarrow:hover{
     background-color: #8bafe0;
  }


  /************************** Get instant discounts ***********************/
#get_discounts{
    border: 1px solid gray;
    width:80%;
    height: 230px;
    margin: auto; 
    margin-top: 50px;
    display: flex;
    justify-content:flex-start;
    align-items: center; 
}
#get_discounts img{
    margin-left: 20px;
    width:150px;
    height: 150px;  
}
#discounts_container{
    /* border: 1px solid black; */
    width: 60%;
    height: 200px;
    margin-left: 20px;
}
#discounts_container_heading{
    margin-left: 20px;
    font-style: normal;
    font-size: 26px;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
    font-weight: 700;
    line-height: 16px;
    color: #262626;   
}
#discounts_container_desc{
    margin-left:20px;
    font-style: normal;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma,Verdana, sans-serif;
    font-weight: 400;
    color: #262626;   
}
#discounts_container_Signinbtn{
    margin-left: 10px;
    width:80px;
    height:30px;
    background-color: #fff;
    color: #0071c2;
    border: 1px solid #0071c2; 
}
#discounts_container_Signinbtn:hover{
    cursor: pointer;
    background-color: rgb(210, 229, 236);;
}
#discounts_container_regbtn{
    margin-left: 10px;
    width:80px;
    height:30px;
    background-color: #fff;
    color: #0071c2;
    /* border: 1px solid #0071c2;  */
    border: none;
}
#discounts_container_regbtn:hover{
    cursor: pointer;
    background-color: rgb(210, 229, 236);;
}

/******************* Destinations we love ****************************/

#destination_categories{
  border: 0px solid black;
  width: 80%;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
}

#destination_categories div{
  border: 0px solid red;
  width:100px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}
#destination_categories div:nth-child(1){
  color: #0071c2;
  border: 1px solid #0071c2;
  background-color: #ecf4f8;
}
#destination_categories div:nth-child(2){
  margin-left: 20px;
}
#destination_categories div:nth-child(3){
  width: 150px;
  margin-left: 20px;
}
#destination_categories div:hover{
  cursor: pointer;
  background-color:#d3d6d8;
}

/*********** Destinations by categories ************/
#destinations{
  /* border:1px solid black; */
  width:80%;
  height:350px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#destinations_categorie1{
  /* border:1px solid blue; */
  width:100%;
  height:300px;
  /* margin: auto; */
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.des_cat{
  /* border:1px solid green; */
  width:200px;
  height: 250px;
}
.des_head{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}
.des_head:hover{
  text-decoration: underline 1px solid black;
  cursor: pointer;
}
.dest_desc{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #6b6b6b;
  margin-top: -10px;
}

#destinations_categorie2{
  /* border:1px solid blue; */
  width:100%;
  height:500px;
  margin: auto;
  margin-top:10px;
  display: none;
  /* display: ; */
}

#destinations_categorie3{
  /* border:1px solid blue; */
  width:100%;
  height:300px;
  margin: auto;
  margin-top:10px;
  display: none;
  
}
#destinations_categorie2 div{
  /* border: 1px solid green; */
  width:280px;
  height: 300px;
  margin-left: 30px;
}
#destinations_categorie2 div:nth-child(3){
  margin-left: 50px;
}

/******************* Lower Search Bar ******************/

#lower_seachbar_container{
  /* border:1px solid black; */
  width:100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00224f;
}

#subs_head{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  line-height: none;
}
#subs_desc{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #bdbdbd;
  line-height: none;
  margin-top: -50px;
}
#subs_mail{
  width:400px;
  height: 40px;
  border-radius: 5px;
}
#subs_mail::placeholder{
  font-size: 16px;
}
#subs_btn{
  width:150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #0071c2;
  font-size: 16px;
  color: #fff;
}
#subs_btn:hover{
  cursor: pointer;
  background-color: #afcaf0;
  color: #262626;
}

/********************* List Your Property ************************/
#lyp{
  /* border:1px solid black; */
  width: 100%;
  height: 130px;
  background-color: #003580;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#lyp_btn{
  width:150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 14px;
  background-color: #00224f;
  color: #fff;
}
#lyp_btn:hover{
  cursor: pointer;
  background-color:#8bafe0;
}
#lyp_line{
  width: 100%;
  border: 0.5px solid white;
}
#lyp_msc{
  /* border: 1px solid yellow; */
  width: 70%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
#lyp_msc p{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline 1px solid #ffff;
}
#lyp_msc p:hover{
  cursor: pointer;
}
#texttoshow{
  font-size: 12px;
  font-weight: 300;
}

/* Footer_part1 */
#Footer_part1{
  /* border: 1px solid black; */
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.footer_list_container{
  margin-top: 20px;
  /* border: 1px solid red; */
  width: 250px;
  height: 450px;
}

.footer_list_container ul li{
  list-style: none;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0071c2;
}
.footer_list_container ul li:hover{
  cursor: pointer;
  color: red;
}

#Footer_part2{
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer_part2 p{
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #0071c2;
}
#Footer_part2 p:hover{
  cursor: pointer;
  color: red;
}
#Footer_part3{
  /* border: 1px solid green; */
  width:60%;
}
#Footer_part3 p{
  margin-left: 90px;
}
#Footer_part4{
  /* border: 1px solid green; */
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Footer_part4 p{
   font-style: normal;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 14px;
   color: #6b6b6b;
}

#Footer_part_5{
  /* border: 1px solid green;  */
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

